<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.sku.mapper.SkuMapper">

    <resultMap id="BaseResultMap" type="com.mini.sku.domain.SkuDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
        <result property="skuPrice" column="sku_price" jdbcType="DECIMAL"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,sku_price,sku_name,
        stock,created_at,updated_at
    </sql>
</mapper>
